- name: Install required packages
  apt:
    name:
      - curl
      - git
      - npm
    update_cache: yes

- name: Install Node.js 18.x
  shell: |
    curl -fsSL https://deb.nodesource.com/setup_18.x | bash -
    apt-get install -y nodejs
  args:
    executable: /bin/bash

- name: Install PM2 globally
  npm:
    name: pm2
    global: yes

- name: Create application directory
  file:
    path: "{{ app_dir }}"
    state: directory
    mode: '0755'

- name: Create public directory
  file:
    path: "{{ app_dir }}/public"
    state: directory
    mode: '0755'

## Copy all files over
- name: Copy server.js
  copy:
    src: files/server.js
    dest: "{{ app_dir }}/server.js"

- name: Copy Windrunner Index
  copy:
    src: files/public/index.html
    dest: "{{ app_dir }}/public/index.html"

- name: Copy Ldap Connector
  copy:
    src: files/public/spanreed.html
    dest: "{{ app_dir }}/public/spanreed.html"

- name: Initialize npm project
  shell: npm init -y
  args:
    chdir: "{{ app_dir }}"
    creates: "{{ app_dir }}/package.json"

- name: Install Express
  npm:
    path: "{{ app_dir }}"
    name: express

- name: Install Ldapjs
  npm:
    path: "{{ app_dir }}"
    name: ldapjs

- name: Install Body-Parser
  npm:
    path: "{{ app_dir }}"
    name: body-parser

- name: Start application with PM2
  shell: |
    pm2 delete spanreed || true
    pm2 start server.js --name spanreed
    pm2 save
  args:
    chdir: "{{ app_dir }}"

# https://ploi.io/documentation/server/how-to-make-pm2-start-on-boot
- name: Register application for Startup
  shell: pm2 startup
