- name: Install Web Server (IIS) role
  win_feature:
    name: Web-Server
    state: present
    include_management_tools: true

# https://docs.ansible.com/projects/ansible/latest/collections/community/windows/win_psmodule_module.html
- name: Add IIS Administration Powershell Module
  community.windows.win_psmodule:
    name: IISAdministration
    state: present

# https://docs.ansible.com/projects/ansible/latest/collections/microsoft/iis/website_module.html
- name: Create a default website in 'Started' state
  microsoft.iis.website:
    name: Windrunner
    physical_path: C:\inetpub\wwwroot
    state: started
    bindings:
      set:
        - ip: 127.0.0.1
          port: 80
          hostname: wyndrunners.local

- name: Copy Windrunner Registration Page
  ansible.windows.win_copy:
    src: files/index.html
    dest: C:\inetpub\wwwroot

- name: Copy printer to wwwroot
  ansible.windows.win_copy:
    src: files/printer
    dest: C:\inetpub\wwwroot

- name: Copy ldap_settings to wwwroot
  ansible.windows.win_copy:
    src: files/ldap_settings
    dest: C:\inetpub\wwwroot
